.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 3000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: transparent;
  color: white;
  transition: background-color 0.35s ease, box-shadow 0.35s ease;
}

.navbar-scrolled {
  backdrop-filter: blur(25px);
  background-color: rgba(0, 0, 0, 0.451);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}


.highlight{
  background-image: linear-gradient(45deg, #6495ed, #0e3a8d);
  background-clip: text;
  color: transparent;
}



.logo-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-logo {
  width: 52px;
  height: 52px;
  object-fit: contain;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.logo-text a {
  color: white;
  text-decoration: none; 
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;

  display: flex;
  align-items: center;
  height: 42px;
}

.nav-links a:hover {
  color: rgba(0, 153, 255, 0.629);
}

.nav-links a.active {
  color: rgb(0, 153, 255);
}

.dark-mode-button {
  width: 36px;
  height: 36px;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;

  position: relative;
  z-index: 3000;

  display: flex;
  align-items: center;
  justify-content: center;

  

}

.sun-core {
  width: 16px;
  height: 16px;

  border-radius: 50%;
  background: white;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) rotate(0deg) scale(1);
  transform-origin: center;

  box-shadow: inset 0 0 0 0 white;

  transition:
    background 0.4s ease,
    box-shadow 0.4s ease,
    transform 0.4s ease;
}

.sun-dot {
  position: absolute;

  width: 4px;
  height: 4px;

  top: calc(50% - 2px);
  left: calc(50% - 2px);

  border-radius: 50%;
  background: white;

  opacity: 1;

  transform-origin: 2px 2px;
  transform: rotate(var(--angle)) translateY(-15px);

  transition:
    transform 0.55s ease,
    opacity 0.3s ease;  
}

.dot-1 { --angle: 0deg; }
.dot-2 { --angle: 45deg; }
.dot-3 { --angle: 90deg; }
.dot-4 { --angle: 135deg; }
.dot-5 { --angle: 180deg; }
.dot-6 { --angle: 225deg; }
.dot-7 { --angle: 270deg; }
.dot-8 { --angle: 315deg; }

.dark-mode-button.dark .sun-dot {
  opacity: 0;
  transform: rotate(calc(var(--angle) + 360deg)) translateY(-6px);
}

.dark-mode-button.dark .sun-core {
  background: transparent;
  box-shadow: inset 2px -6.5px 0 0 white;
  transform: translate(-50%, -50%) rotate(400deg) scale(1.45);
}


.mobile-menu-button {
  display: none;
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 3000;
  position: relative;
}

.mobile-menu-button span {
  display: block;
  width: 28px;
  height: 3px;
  background: white;
  margin: 6px auto;
  border-radius: 999px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.mobile-menu-button.open span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.mobile-menu-button.open span:nth-child(2) {
  opacity: 0;
}

.mobile-menu-button.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.mobile-menu {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.756);
  backdrop-filter: blur(40px);
  z-index: 2000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease;
}

.mobile-menu-open {
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 42px;
  font-weight: bold;

  opacity: 0;
  transform: translateY(20px);
}


.mobile-menu button {
  color: white;
  background: none;
  text-decoration: none;
  font-size: 42px;
  font-weight: bold;

  opacity: 0;
  transform: translateY(20px);
}


.mobile-menu-open button{
    animation: fadeMenuItem 0.5s ease forwards;
}

.mobile-menu-open a {
  animation: fadeMenuItem 0.5s ease forwards;
}

.mobile-menu-open a:nth-child(1) {
  animation-delay: 0.15s;
}

.mobile-menu-open a:nth-child(2) {
  animation-delay: 0.3s;
}

.mobile-menu-open a:nth-child(3) {
  animation-delay: 0.45s;
}
.mobile-menu-open button{
    animation-delay: 0.6s;
}

.mobile-menu a:hover,
.mobile-menu a.active {
  color: rgb(0, 153, 255);
}