.header {

    border-radius: 25px;
    /* background: #2f3236; */
    backdrop-filter: blur(25px);
    padding: 15px;
    padding-left: 15px;
    position: relative;
    font-size: 25px;
    align-items: center; 
}

.nav{
  display: flex;
  align-items: center;
}

.textbox{
  padding: 15px;
  margin-right: 15px;
  border-radius: 15px;
  background: #2f3236;
}

.highlight{
  background-image: linear-gradient(45deg, #6495ed, #0e3a8d);
  background-clip: text;
  color: transparent;
}